//====================================================================================================
.page {
	display: flex;
	&__left-menu {
		width: 232px;
		height: 100vh;
		background: #fff;
		padding: 24px 16px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
		@media (max-width:em(430)){
			width: 264px;
			transition: 400ms;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
			height: 100vh;
			padding: 16px;
			z-index: 20;
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: space-between;
		// box-sizing: border-box;
		position: fixed;
		left: 0;
		top: 0;
		// background: white;
		margin-left: -264px;
		}
	}

	&__content {
		width: calc(100% - 232px);
		background-color: darkcyan;
		@media (max-width: em(430)){
			  width: 100%;
		}
	}
}
.left-menu-wrapper {
}
.content-desktop {
}
.dfg {
	width: 100px;
	height: 100px;
	background-color: red;
}
//====================================================================================================
